<div id="<%= dom_id icome_transaction %>", class="transaction">
  <p class="name ">
    <strong>
    <%= icome_transaction.name %>
    </strong>
  </p>

  <p class="income">
    <strong>$ 
    <%= icome_transaction.amount %>
    </strong>
  </p>

</div>
