<div id="<%= dom_id icome_transaction %>">
  <p>
    <strong>Name:</strong>
    <%= icome_transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= icome_transaction.amount %>
  </p>

</div>
