<h1>Editing icome transaction</h1>

<%= render "form", icome_transaction: @icome_transaction %>

<br>

<div>
  <%= link_to "Show this icome transaction", @icome_transaction %> |
  <%= link_to "Back to icome transactions", icome_transactions_path %>
</div>
