<p style="color: green"><%= notice %></p>

<h1>Icome transactions</h1>

<div id="icome_transactions">
  <% @icome_transactions.each do |icome_transaction| %>
    <%= render icome_transaction %>
    <p>
      <%= link_to "Show this icome transaction", icome_transaction %>
    </p>
  <% end %>
</div>

<%= link_to "New icome transaction", new_icome_transaction_path %>
