<div class="splash-page">
<br>
<img class="splash-img", src="<%= asset_path('splash logo.png') %>" alt="Budget Logo">
<div class="splash-btns">
<a href="<%= new_user_session_path %>" class="btn btn-primary login-btn">Login</a>
  <a href="<%= new_user_registration_path %>" class="btn btn-light signup-btn">Sign Up</a>
</div>
</div>