<div class="splash">
<img class="splash-img", src="<%= asset_path('splash logo.png') %>" alt="Budget Logo">
  <h1>Welcome to the Budget App</h1>
</div>
<script>
  setTimeout(function() {
    window.location.href = '<%= redirect_to_login_path %>'; // Redirect to the login page
  }, 3000); 
</script>
