* {
  padding: 0;
  margin: 0;
}

.body {
  height: 100%;
  background: #f0f2f1;
}

.back-btn {
  color: white;
  font-size: xx-large;
}

img {
  font-size: 2rem;
  border: 0.2px solid lightgray;
  padding: 3px;
  border-radius: 2px;
  width: 4rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  background: #3674bd;
  color: white;
}

.category {
  border: 0.5px solid lightgray;
  border-radius: 1px;
  padding: 1rem;
  display: grid;
  align-items: center;
  gap: 13px;
  margin: 1rem;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  background-color: white;
}

.logout {
  color: white;
  border: 1px solid white;
}

.links {
  text-decoration: none;
  font-weight: 600;
}

.notice {
  display: flex;
  justify-content: center;
  margin: 1rem 4rem;
  color: white;
  border: 1px solid gray;
  background: #60b524;
  padding: 4px;
  border-radius: 21px;
}

.bottom-btn {
  border: 1px solid lightgray;
  padding: 1rem;
  background: #5fb523;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.category-btn {
  color: white;
  width: 100%;
  font-size: 1.5em;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 1px solid white;
}

.title {
  margin: 0;
  font-weight: 300;
  font-size: 2rem;
}

.income {
  margin: 0;
  color: #435b54;
  font-weight: 800;
}

.name {
  margin: 0;
  color: #989da3;
  margin-left: 10px;
  font-size: 1.3em;
  font-family: unset;
}

.total-transaction-income {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: white;
}
