<div id="<%= dom_id category %>">
  <p>
    <%= image_tag(category.icon, alt: 'Category Icon') if category.icon.present?  %>
  </p> 

  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    Total Income for this Category: $
    <%= category.icome_transactions.sum(:amount) %>
  </p>

</div>
