<div id="<%= dom_id category %>",  class="category">
    <% if category.icon.present? %>
        <img src="<%= category.icon %>" alt="Icon">
    <% end %>
    
    <p class="name">
    <%= category.name %>
    </p>

    <p class="income">$ 
    <%= category.icome_transactions.sum(:amount) %>
    </p>
</div>
